body
{
    margin: 0;
    background-image: url(../Image/ZigZag.png);
    font-family: "Palatino Linotype", Palatino, serif;
    line-height: 1.5em;
}
header
{
    background-color: rgba(255, 238, 187, 0.75);
    padding: 1em;
    border-bottom: 3px double #77250f;
}
h1
{
    font: 2em/0.75em "Palatino Linotype", Palatino, serif;
    color: #77250f;
    margin: 0;
    padding: 0.15em 0 0.25em 4.5em;
}
h1 span
{
    font-size: 60%;
}
h1 span.logo
{
    float: left;
    font-size: 60%;
    position: absolute;
    top: 0.75em;
    left: 1.75em;
    line-height: 0.8em;
}
/* Navigation styles. */
nav
{
    background-color: rgba(187, 138, 101, 0.75);
    border-bottom: 3px double #77250f;
    padding: 0 0.5em;
    color: #77250f;
}
nav select, nav button
{
    font-family: "Palatino Linotype", Palatino, serif;
}
/* Interface styles. */
section#parser
{
    max-width: 60em;
    visibility: hidden;
}
section#panel
{
    float: right;
}
article
{
    padding: 1em 2em;
    background-color: rgba(255, 254, 251, 0.6);
    border-radius: 1em;
    border: 3px double #77250f;
    max-width: 28em;
    height: 200px;
    direction: rtl;
    overflow: auto;
}
section#word
{
    margin: 1em;
    padding: 0.5em;
    background-color: rgba(255, 238, 187, 0.75);
    border-radius: 1em;
    border: 3px double #77250f;
    text-align: center;
    width: 24em;
}
section button.move
{
    font-weight: bold;
    font-size: 1.6em;
    color: #77250f;
    margin: 0;
    text-align: center;
    height: 1.6em;
    width: 1.6em;
}
section span#wordBox
{
    font: 1.6em/1em "SBL Hebrew", "Ezra SIL SR", Cardo, "Times New Roman", serif;
    direction: rtl;
    background-color: white;
    border: inset 1px #fff2cc;
    display: inline-block;
    width: 10em;
    height: 1em;
    padding: 0.25em 0;
}
section span.seg
{
    border: 1px solid rgb(221, 188, 144);
}
section span.seg:hover
{
    background-color: rgb(255, 238, 187);
    cursor: pointer;
}
section label
{
    color: #77250f;
}
section input#morph
{
    font: 1.2em "Palatino Linotype", Palatino, serif;
    margin-top: 0.5em;
}
section#word input.error
{
    background: #fbb url(../Image/Error.png) 95% 50% no-repeat;
}
section button#apply
{
    font: 1em "Palatino Linotype", Palatino, serif;
    color: #77250f;
    height: 2em;
}
div#explain
{
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: rgba(255, 254, 251, 0.6);
    border-radius: 1em;
    border: 3px double #77250f;
    max-width: 20em;
}
div#explain h2
{
    font: 1.2em "Palatino Linotype", Palatino, serif;
    color: #77250f;
    margin: 0;
    border-bottom: 1px solid #77250f;
}
div#morphHint
{
    position: absolute;
    display: none;
    background-color: rgb(255, 254, 251);
    box-shadow: 4px 4px 2px rgba(64, 64, 64, 0.5);
}
div#morphHint h3, div#langSet h3, form h3
{
    font: 1em "Palatino Linotype", Palatino, serif;
    background-color: rgb(255, 238, 187);
    color: #77250f;
    margin: 0;
    padding: 0 0.5em;
    border-bottom: 1px solid #77250f;
}
div#morphHint ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow: auto;
}
div#morphHint li
{
    padding: 0 0.5em;
    border-top: 1px solid white;
    border-bottom: 1px solid rgb(255, 238, 187);
}
div#morphHint li:hover
{
    background-color: rgb(255, 238, 187);
    border-bottom: 1px solid rgb(187, 138, 101);
    cursor: pointer;
}
div#langSet
{
    margin: 1em;
    padding-bottom: 0.25em;
    background-color: rgba(255, 254, 251, 0.6);
    border-radius: 1em;
    border: 3px double #77250f;
    max-width: 6em;
}
div#langSet h3
{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
div#langSet input
{
    margin-left: 0.5em;
}
/* Verse display. */
span.chapter
{
    display: block;
}
span.Hebrew, span.punctuation
{
    font: 1.5em/1.6em "SBL Hebrew", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
}
span.Hebrew:hover
{
    cursor: pointer;
    background-color: rgb(255, 238, 187);
}
span.osisID
{
    font-weight: bold;
}
span.qere
{
    font-size: smaller;
    color: blue;
}
span.current
{
    background-color: #9f9;
}
span.done
{
    background-color: rgb(221, 188, 144);
}
/* Login & Registration Forms */
section form
{
    margin: 1em;
    padding: 0.5em;
    background-color: rgba(255, 238, 187, 0.75);
    border-radius: 1em;
    border: 3px double #77250f;
    width: 20em;
    box-shadow: 4px 4px 2px rgba(64, 64, 64, 0.5);
}
section form p
{
    font-size: 80%;
    margin: 0 1em;
    color: #77250f;
    line-height: 1.2em;
}
section form label
{
    display: block;
    font-size: 80%;
}
section form input
{
    font: 1em "Palatino Linotype", Palatino, serif;
}
section form button
{
    font: 1em "Palatino Linotype", Palatino, serif;
    color: #77250f;
    margin-left: 4em;
}
/* Editor Styles */
span.word
{
    float: right;
    text-align: center;
    line-height: 1em;
    margin-right: 0.5em;
}
span.morph
{
    font-size: 90%;
}
/* Help Styles */
header#help h1
{
    font-size: 1.6em;
    padding: 0.25em;
}
nav.topics a
{
    color: #77250f;
    text-decoration: none;
    padding-right: 1em;
}
section.helpSection h2
{
    font: 1.2em "Palatino Linotype", Palatino, serif;
    color: #77250f;
    margin-bottom: 0;
    padding: 0.25em;
    background-color: rgba(255, 238, 187, 0.75);
    border-bottom: 3px double #77250f;
    border-top: 3px double #77250f;
}
article.topic, p.top
{
    margin: 0.5em 0 0 0.5em;
    padding: 0 1em;
    background-color: rgba(255, 254, 251, 0.6);
    border-radius: 1em;
    border: 3px double #77250f;
    max-width: 28em;
    direction: ltr;
    height: auto;
}
article.topic h3
{
    font: 1.1em "Palatino Linotype", Palatino, serif;
    color: #77250f;
    margin: 0.5em 0 0 0;
    border-bottom: 1px solid #77250f;
}
article.topic p
{
    margin-top: 0;
}
p.top
{
    text-align: center;
}