body
{
    margin: 0;
    background-image: url(../Image/ZigZag.png);
    font-family: "Palatino Linotype", Palatino, serif;
    line-height: 1.5em;
}
header
{
    background-color: rgba(255, 253, 208, 0.75);
    padding: 1em;
    border-bottom: 3px double #217438;
}
h1
{
    font: 2em/0.75em "Palatino Linotype", Palatino, serif;
    color: crimson;
    margin: 0;
    padding: 0.15em 0 0.25em 4.5em;
}
h1 span
{
    font-size: 60%;
}
h1 span.logo
{
    float: left;
    font-size: 60%;
    position: absolute;
    top: 0.75em;
    left: 1.75em;
    line-height: 0.8em;
}
h3
{
    color: crimson;
    font-size: 1.2em;
	text-align: right;
}
/* Navigation styles. */
nav
{
    background-color: rgba(144, 207, 146, 0.75);
    border-bottom: 3px double #217438;
    padding: 0 0.5em;
    color: crimson;
}
nav select
{
    font-family: "Palatino Linotype", Palatino, serif;
}
/* Interface styles. */
section#work
{
	margin: 0.5em;
}
/* Verse display. */
span.Hebrew, span.punctuation
{
    font: 1.5em/1.6em "SBL Hebrew", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
}
span.Hebrew:hover
{
    cursor: pointer;
    background-color: rgb(242, 166, 153);
}
span.qere
{
    color: blue;
}
span.mark
{
    font: 1.2em/1.6em "SBL Hebrew", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
    color: green;
}
sup.note
{
    color: blue;
    cursor: pointer;
    direction: ltr;
}