body
{
	margin: 0;
	font-family: "Palatino Linotype", serif;
}
h1
{
	font: 1.2em "Trebuchet MS", sans-serif;
	padding: 1em 4em;
	margin: 0;
	color: #862;
	background: #fcfcd8 url(OneTitle.png) no-repeat 0 50%;
	border-bottom: 1px solid #fcdab4;
}
section#input
{
	background-color: #fcdab4;
	background-image: -ms-linear-gradient(top, #fcfcfc, #fcfcd8 50%, #fcdab4);
	background-image: -moz-linear-gradient(#fcfcfc, #fcfcd8 50%, #fcdab4);
	background-image: -o-linear-gradient(#fcfcfc, #fcfcd8 50%, #fcdab4);
	background-image: -webkit-linear-gradient(#fcfcfc, #fcfcd8 50%, #fcdab4);
	padding: 2px 1em;
	border: 1px solid #fcdab4;
	font-size: 80%;
	color: #862;
}
section#input input
{
	margin: 2px 0.5em 0 0.5em;
}
section#input button
{
	font: 94% "Palatino Linotype", serif;
	color: #862;
}
textarea#morph
{
	width: 50%;
    height: 300px;
	padding: 1em;
}