body
{
    margin: 0;
    background-image: url(../ZigZag.png);
    font-family: "Palatino Linotype", Palatino, serif;
    line-height: 1.5em;
}
header
{
    background-color: rgba(255, 238, 187, 0.75);
    padding: 1em;
    border-bottom: 3px double #77250f;
}
header img
{
    float: left;
}
h1
{
    font: 2em/0.75em "Palatino Linotype", Palatino, serif;
    color: #77250f;
    margin: 0;
    padding: 0 0 0.5em 4.5em;
}
h1 span
{
    font-size: 60%;
}
/* Passage Styles. */
section.passage
{
	background-color: #fffefb;
    border-bottom: 3px double #77250f;
	text-align: right;
	min-height: 8em;
}
span.Hebrew, span.punctuation
{
    font: 1.5em/1.6em "SBL Hebrew", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
}
/* Structure Styles */
section.passage h2
{
	float: right;
	font-size: 2.5em;
	padding-top: 0.3em;
    margin: 0;
    text-align: center;
}
section.passage h2 span.book
{
	display: block;
	font-size: 0.6em;
	padding: 0.5em 1em;
}
section.passage span.level
{
    border: 1px solid transparent;
    padding: 1px 4px;
    margin: 1px;
	display: inline;
	text-align: right;
	float: right;
}
section.passage span.level0
{
    border-color: #80c;
	margin-top: 0.25em;
}
section.passage span.level1
{
    border-color: #f84;
}
section.passage span.level2
{
    border-color: #ff0;
}
section.passage span.item
{
	text-align: center;
	padding: 0.5em;
	float: right;
}
section.passage span.Hebrew, section.passage span.lemma, section.passage span.morph
{
	display: block;
}