#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: left;
  height: 48px;
}

.footer {
  width: 100%;
  display: flex;
}

hr {
  width: 100%;
  height: 2px;
  align-self: center;
  background-color: #b0b0b0;
  margin: 12px 0;
}

.text {
  direction: rtl;
  text-align: right;
  height: calc(100vh - 256px);
  font-size: 32px;
  overflow: scroll;
}

select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 128px;
  padding: 4px 8px;
  background: #ffffff;
  border: 2px solid #cccccc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.selectorWrapper {
  width: 100%;
}
