#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  background: #ffffff;
  border-radius: 1px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: left;
  height: 48px;
}

.footer {
  width: 100%;
  display: flex;
}

hr {
  width: 100%;
  height: 2px;
  align-self: center;
  background-color: #b0b0b0;
  margin: 12px 0;
}

.text {
  direction: rtl;
  text-align: right;
  height: calc(100vh - 148px);
  font-size: 32px;
  overflow: scroll;
  line-height: 52px;
  padding: 16px;
}

select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 128px;
  padding: 4px 8px;
  background: #ffffff;
  border: 2px solid #cccccc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.selectorWrapper {
  width: 100%;
}

.word {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.word:hover {
  background-color: #f5f5f5;
}

.word-parts {
  /* not wrap */
  white-space: nowrap;
}

.verse {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 16px;
}

.verse::after {
  content: ": ";
}

.meaning {
  position: absolute;
  display: block;
  border: 1px solid #cccccc;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 4px;
  font-size: 1rem;
  z-index: 2;
  top: -16px;
}

.verseNumber {
  border-radius: 3px;
  padding: 4px;
  font-size: 1rem;
  z-index: 2;
  font-weight: 800;
  color: #555555;
  display: inline-block;
  vertical-align: super;
  margin-left: -8px;
  cursor: default;
}

.popoverDialog {
  display: block;
  border: 1px solid #cccccc;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 4px;
  font-size: 1rem;
  z-index: 2;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  position: fixed;
  text-align: initial;
  padding: 4px;
}

.popoverDialog .body {
  overflow: auto;
  height: 100%;
  display: inline-block;
  padding: 16px;
}

.popoverDialog .close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.popoverOverlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #cccccc;
  background: #000000;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  /*blur*/ 
  opacity: 0.5;
}

